<div class="col-lg-12 d-none d-sm-block">
  <div class="feature-product">
    <h5 style="font-size: 20px">SẢN PHẨM NỔI BẬT</h5>
    <div id="listProductsFeatures-hot" class="list-products" onload="">
      helloo
    </div>
  </div>
  <div class="spnb d-none d-sm-block">
    <div id="listProductsFeatures" class="list-products" onload=""></div>
  </div>
</div>

<div class="container">
  <div class="spnb d-none d-sm-block">
    <div class="list-products"></div>
  </div>
</div>

<script src="../JS/cart.js"></script>
<script src="../JS/content.js"></script>
