<br /><br />
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="contact">
          <h5>THÔNG TIN LIÊN HỆ</h5>
          <p>
            <i class="fa fa-map-marker"> Địa chỉ: Đại học Công Nghiệp Hà Nội</i>
          </p>
          <p><i class="fa fa-phone"> 0987654321</i></p>
          <p><i class="fa fa-envelope"> Nhom15@gmail.com</i></p>
          <div class="mxh">
            <i class="fa fa-facebook"></i> &nbsp; &nbsp;
            <i class="fa fa-instagram"></i> &nbsp;&nbsp;
            <i class="fa fa-twitter"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="support">
          <h5>HỖ TRỢ</h5>
          <p><a href="#">Hướng dẫn mua hàng</a></p>
          <p><a href="#">Hướng dẫn thanh toán</a></p>
          <p><a href="#">Chính sách bảo hành</a></p>
          <p><a href="#">Chính sách đổi trả</a></p>
          <p><a href="#">Tư vấn khách hàng</a></p>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="download">
          <h5>TẢI ỨNG DỤNG NGAY</h5>
          <p>
            Ứng dụng My Phone hiện có sẵn trên Google Play & App Store. Tải nó
            ngay.
          </p>
          <p>
            <a href="#"><img src="../Images/dp.jpg" alt="" /></a>
          </p>

          <p>
            <a href="#"><img src="../Images/da.jpg" alt="" /></a>
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="map">
          <h5>GOOGLE MAP</h5>
          <map name="My Phone"
            ><iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.4736630784296!2d105.73291811440777!3d21.053735992302236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345457e292d5bf%3A0x20ac91c94d74439a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2hp4buHcCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1652604419785!5m2!1svi!2s"
              width="90%"
              ;
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe
          ></map>
        </div>
      </div>
    </div>
  </div>
</div>
