<div class="head">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-none d-sm-block" style="color: #ffffff">
        <a
          id="logo"
          href="../index.html"
          style="font-family: Fira Sans; color: #fff; font-size: 18px"
        >
          <img width="60px" src="../Images/logo_Shop2.png" alt="logo_Shop" />
          SmartPhones
        </a>
      </div>

      <div class="col-lg-3 d-none d-sm-block">
        <form
          action=""
          method="post"
          style="display: flex; align-items: center"
        >
          <input
            type="text"
            placeholder="Tìm kiếm..."
            name="search"
            value=""
            style="
              font-size: 16px;
              outline: none;
              border: none;
              padding: 16px 18px;
            "
          />
          <button
            type="button"
            onclick="handleSearch()"
            style="
              font-size: 18px;
              background: transparent;
              color: #333;
              padding: 4px 8px;
              overflow: hidden;
            "
          >
            <i style="text-align: center" class="fa fa-search"></i>
          </button>
        </form>
      </div>

      <div id="c6" class="col-lg-6 col-xs-12 h_menu-options">
        <a href="tel:0978315545">
          <div id="but">
            <i class="fa fa-phone fa-2x"></i>
            <p style="font-size: 12px; margin: 0px">
              Gọi mua hàng
              <br />
              <strong style="color: #ffff">0987654321</strong>
            </p>
          </div>
        </a>
        <a href="#" onclick="handleClickToOrder()">
          <div id="but">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 44.22 25.85"
              height="24"
            >
              <defs>
                <style>
                  .cls-1,
                  .cls-2,
                  .cls-3 {
                    fill: none;
                    stroke: #fff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                  }

                  .cls-1 {
                    stroke-width: 1.66px;
                  }

                  .cls-2 {
                    stroke-width: 1.66px;
                  }

                  .cls-3 {
                    stroke-width: 1.8px;
                  }
                </style>
              </defs>
              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                  <circle cx="7.66" cy="22.02" r="3" class="cls-1"></circle>
                  <circle cx="24.79" cy="22.02" r="3" class="cls-2"></circle>
                  <path
                    d="M28.61,22h4.13a1.44,1.44,0,0,0,1.44-1.44v-6"
                    class="cls-3"
                  ></path>
                  <path
                    d="M27.12.9H14.82a1.44,1.44,0,0,0-1.44,1.44V20.58A1.44,1.44,0,0,0,14.82,22h6.29"
                    class="cls-3"
                  ></path>
                  <path
                    d="M10.27,5.92H6.75A2.65,2.65,0,0,0,4.54,7.11L1.33,12A2.64,2.64,0,0,0,.9,13.47v6.46A2.1,2.1,0,0,0,3,22h.75"
                    class="cls-3"
                  ></path>
                  <path
                    d="M34.18,3.47V2.34A1.44,1.44,0,0,0,32.74.9H25.08"
                    class="cls-3"
                  ></path>
                  <line
                    x1="43.32"
                    y1="6.97"
                    x2="32.57"
                    y2="6.97"
                    class="cls-3"
                  ></line>
                  <line
                    x1="40.5"
                    y1="11.05"
                    x2="32.57"
                    y2="11.05"
                    class="cls-3"
                  ></line>
                  <line
                    x1="42.09"
                    y1="16.33"
                    x2="38.07"
                    y2="16.33"
                    class="cls-3"
                  ></line>
                </g>
              </g>
            </svg>
            <p>
              Tra cứu <br />
              đơn hàng
            </p>
          </div>
        </a>
        <a
          jsaction="mouseup:placeCard.largerMap"
          target="_blank"
          jstcache="15"
          href="https://maps.google.com/maps?ll=21.053731,105.735107&z=15&t=m&hl=vi&gl=US&mapclient=embed&cid=2354416998981845914"
        >
          <div id="but">
            <i class="fa fa-map-marker fa-2x"></i>
            <p>
              Cửa hàng <br />
              gần bạn
            </p>
          </div>
        </a>
        <a href="#" onclick="handleClickToCart()">
          <div id="but">
            <i class="fa fa-shopping-cart fa-2x"></i>
            <p>
              Giỏ <br />
              hàng
            </p>
          </div>
        </a>

        <a href="../Pages/login.html" class="beforeLogin">
          <div id="but">
            <i class="fa fa-user-circle fa-2x"></i>
            <p>
              Đăng <br />
              nhập
            </p>
          </div>
        </a>
        <a href="../Pages/SignUp.html" class="beforeLogin">
          <div id="but">
            <i class="fa fa-user-circle fa-2x"></i>
            <p>
              Đăng <br />
              ký
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<script lang="Javascript">
      var user = localStorage.getItem("user");
      user = JSON.parse(user);
      if(user?.token){
          $(".beforeLogin").hide()

          $(".logout").show()
      }


  function handleClickToOrder() {
      if (!user?.token) window.location.replace("../Pages/login.html");
      else {
        window.location.replace("../Pages/order.html");
      }
    }
    function handleClickToCart() {
    if (user)
      window.location.replace("../Pages/cart.html");
    else {
      window.location.replace("../Pages/login.html");
    }
  }
  function handleSearch() {
    var input = document.querySelector("input");
    localStorage.setItem("search-value", input.value);
    window.location.replace("http://127.0.0.1:5500/Pages/search.html")
  }
</script>
