<div class="detailProduct">
    <div class="container" style="padding-top: 70px; font-size: 62.5%;">
        <div class="c1">
            <i class="ti-angle-right"></i>
        </div>
            
        <div class="c2 ">
           <h1>Chi tiết sản phẩm</h1>
        </div>
           
    </div>
        
        
    <div class="container">
        <div class="grid">
          <div class="grid__row">
            <div class="grid__column-2">  
                <div id="demo" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner-1">
                        <div class="carousel-item active product-image">
                            
                        </div>
                    </div>
                </div>
                <div class="c4"></div>
            </div>  
            <div class="grid__column-10">
                <div class="tabbar category-name">
                </div>
                <div class="home-filter">
                    <i class="ti-star"></i>
                    <i class="ti-star"></i>
                    <i class="ti-star"></i>
                    <i class="ti-star"></i>
                    <i class="ti-star"></i>
                </div>
    
                <div class="c5 product-rate">

                </div>
                <br><br>
                <div class="c8">
                        <div class="giohang">
                                
                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>  
    </div>
    
    <div class="container">
        <div class="a2">CHI TIẾT SẢN PHẨM</div>
            <div class="a3">
                <div class="a3-1">
                    Danh Mục
                </div>
                <div class="a3-2">
                    <i class="ti-angle-right"></i>
                    <ul class="danhMuc" style="display: flex; list-style:none; align-items: center; margin: 0;">
                        <li style="display: flex; align-items:center">
                            <a style="color: #05a; font-size: 16px" href="#">Iphone</a>
                        </li>
                        <div style="margin: 0 12px;">>></div>
                        <li style="display: flex; align-items:center">
                            <a style="color: #05a; font-size: 16px" href="#">Iphone 14 ProMax</a>
                        </li>
                    </ul>
                </div>
            </div>        
            <div class="a3">
                <div class="a3-1">Thương Hiệu</div>
                <div class="a3-2 brand-name">
                    <a style="padding-left: 20px;color: #05a; font-size: 16px" href="#">Iphone</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="a2">MÔ TẢ SẢN PHẨM</div>
            <div class="c11">
                <span style="font-weight:bold;font-size: 20px;">
                    <!-- <?= $result['des'] ?> -->
                </span>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <p style="font-size:20px ; text-transform: uppercase; font-weight: bold;">các sản phẩm tương tự</p>
        <div class="spnb d-none d-sm-block">
            <div class="row">
                <!-- <?php foreach ($list as $key => $value) { ?>
                    <div class="col-lg-3">
                        <a href="detail.php?id=<?= $value['id'] ?>">      
                            <img src="admin/uploads/<?= $value['image']?>" style="width:228px;" alt="">
                            <p class="name"><strong style="color: #444;font-size: 14px;">
                                <?= $value['name']?>
                            <br>   I Chính hãng VN/A</strong></p>
                            <p>
                                <strong>
                                    <h3><?= number_format($value['promotionPrice'], 0, '', ',')?></h3>
                                </strong>
                                <del>
                                    <h3>
                                        <?php
                                            if ($value['promotionPrice'] < $value['originalPrice']) { ?>
                                        <del><?= number_format($value['originalPrice'], 0, '', ',') ?>VND</del>
                                        <?php } else { ?>
                                        <p></p>
                                        <?php } ?>
                                    </h3>
                                </del>
                            </p>
                            <div id="button" style="height: 40px;width: 100%;">
                                <a id="button-add-cart" href="add_cart.php?id=<?= $value['id'] ?>">         Thêm vào giỏ
                                </a>
                                <a id="button-detail" href="detail.php?id=<?= $value['id'] ?>">
                                    Xem chi tiết
                                </a>
                            </div>
                        </a>
                    </div>
                <?php } ?> -->
            </div>
        </div>
    </div>
</div>

<script src="../JS/product.js"></script>
<script src="../JS//Storage.js"></script>