#wrapper{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#form-login{
    max-width: 400px;
    background: #fff;
    flex-grow: 1;
    padding: 30px 30px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
    font-size: 16px;
    border: 2px solid #D70018;
    border-radius: 20px;
}
.form-heading{
    font-size: 25px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    border-bottom: 1px solid gray;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
.form-group i{
    color: black;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: black;
    flex-grow: 1;
}
.form-input::placeholder{
    color: black;
}
#eye i{
    padding-right: 0;
    cursor: pointer;
}

.form-submit{
    background: transparent;
    border: 1px solid black;
    color: black;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 20px;
}
.form-submit:hover{
    border: 1px solid #54a0ff;
    background: #54a0ff;
    font-weight: bold;

}

.link-to-register{
    float: right;
    margin-top: 10px;
    text-decoration: none;
}

.link-to-register a{
    text-decoration: none;
    font-size: 14px;
}

.link-to-register a:hover{
    color: red;
    font-size: 16px;
    font-weight: bold;
}